{{#OneLineCopyright}}//	{{OneLineCopyright}}
{{/OneLineCopyright}}//  {{ProjectName}}
{{^OneLineCopyright}}//
//  {{Year}}(c) - Copyright {{ProjectCompany}}{{/OneLineCopyright}}
//
//  File Name   :   {{FileName}}.cpp
//  Description :   {{Description}}
//

// This Includes
#include "{{FileName}}.h"

// Library Includes

// Local Includes

// Static Variables

// Static function prototypes

// Implementation

{{Class}}::{{Class}}()
{

}
